* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1.4rem;
    top: 2rem;
}

input {
    padding: 0.7rem 2.3rem;
    margin-left: 38%;
    margin-top: 1rem;
    font-size: 1rem;
}

select {
    margin-left: 42%;
    padding: 0.7rem;
}

label {
    position: absolute;
    font-size: 1.4rem;
    left: 38%;
    top: 47%;
}

/* #students {
    top: 20rem;
    left: 20rem;
} */

#submit {
font-size: 1.4rem;
 padding: 0rem 3rem;
 margin-left: 40%;
}



